@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
}
body {
  background-color: #1f2228;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}
